body{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  padding:0px;
  margin:0px;
  color: #3C514F;
}

#part1 #bar1{
  background-color:#2C4947;
  height:55px;
}

#part1 #one{
  position:relative;
  top:5px;
  left:10px;
}

#part1 #three{
  position:relative;
  left:46px;
}

#bar3{
  background-color:#516261;
  position:relative;
  top:-10px;
}

#bird{
  padding-top: 90px;
  padding-bottom: 40px;
}

h1{
  font-weight:100;
  padding:0px 30px;
  font-size:28px;
}

#part2 p{
  padding: 20px 32px;
  line-height: 2;
}

#part2 hr{
  color: #ccc;
  border-top: 1px dashed;
}

#part3 h1{
  padding: 40px;
  text-align:center;
}

h3{
  color:#6BA236;
  font-family:arial;
  font-size:18px;
  text-align:center;
}

.track img{
  position: relative;
  left: 106px;
  margin: 20px auto;
}

.track ul{
  list-style-type: none;
  color: #88511C;
  line-height: 2;
  text-align: center;
  display: inline;
  font-size:15px;
}

.track hr{
  border-top: 1px solid #ccc;
  margin: 70px 0px 40px ;
}

#part4{
  background: url("assets/part3/wood-bg.png") repeat;
}

#part4 img {
  width: 300px;
  margin: 80px 0px 0px 30px;
}

#part4 h1 {
  color: #EDC442;
  text-align: center;
  padding-top: 60px;
  font-size: 38px;
}

#part4 h2 {
  color: white;
  font-size: 16px;
  font-weight: lighter;
  text-align:center;
  display: inline-block;
  margin: -15px 20px 0px 20px;
}

.event {
  padding-top: 80px;
}

.time{
  width: 80px;
  height: 80px;
  border: 3px solid #D1592D;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  position: relative;
  left: 150px;
}


#part4 .time h1{
  color:white;
  margin: 0px;
  padding-top: 10px;
}

.event h3{
  color:white;
  font-weight: lighter;
  margin-bottom: 10px;
}

.event p{
  color: white;
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
  margin: 0px 16px;
  line-height: 2;
}

#part4 .time h1 span{
  margin-left: -10px; 
}

.dash{ background-image:url("assets/part2/dash-horizontal.png"); 
  background-repeat:repeat-x;
  padding:20px;
  margin-top:50px;
}

#part5{
  background-color:#caecf9;
  height:900px;
}

#part5 #faq{
    margin: 60px 0px 0px 80px;
}

#part5 ul{
  color: #88511C;
  margin-left: 25px;
  font-size: 23px;
  line-height: 2.5;
  list-style-image: url('assets/part4/plus-bullet.png');
}

#treehouse {
  position: relative;
  bottom: -30px;
}

#part6 a{
  display: inline-block;
  width: 200px;
  height: 78px;
  border-radius: 6px;
  position: relative;
  top: -345px;
  left: 85px;
}